<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Welcome to Hearts!</title>
		<meta name="description" content="An HTML5 game--with phones!">
		<meta name="author" content="Ajay Tripathy, Kevin Hwang">

		<link href="static/css/bootstrap.css" rel="stylesheet"></link>
		<link href="static/css/bootstrap-responsive.css" rel="stylesheet"></link>
		<link href="static/css/index.css"></link>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	</head>
	<body>
		<p>Hello! I'm a board!</p>
	</body>
</html>