<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Welcome to Hearts!</title>
		<meta name="description" content="An HTML5 game--with phones!">
		<meta name="author" content="Ajay Tripathy, Kevin Hwang">

		<link href="/static/css/bootstrap.css" rel="stylesheet"></link>
		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet"></link>
		<link href="/static/css/board.css" rel="stylesheet"></link>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="/static/js/jquery.cookie.js"></script>
		<script src="/socket.io/socket.io.js"></script>


		<script>
			var socket = io.connect("http://localhost");
			socket.on('identify', function () {
				socket.emit("checkIn", {
					roomId: $.cookie("roomId"),
					name: $.cookie("name"), 
					additionalInfo: {}
				});
			});

			socket.on('sync', function (data) {
				var visible = data.visible;
				console.log(visible);
			});

			
		</script>

	</head>
	<body>
		<div class="container">
			<div class="hero-unit">
				<h1>Welcome!</h1>
				<p>Are you ready to begin?</p>
				<p><button class="btn btn-primary">LET'S START</button></p>
			</div>
			<div class="row">
				<div class="span12">
					<p>Hello! I'm a board!</p>
				</div>
			</div>
		</div>

	</body>
</html>