<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Ash Gourd</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="An HTML5 game--with phones!">
		<meta name="author" content="Ajay Tripathy, Kevin Hwang">

		<link href="/static/css/bootstrap.css" rel="stylesheet"></link>
		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet"></link>
		<link href="/static/css/index.css" rel="stylesheet"></link>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="/static/js/jquery.cookie.js"></script>

		<script>

			$(document).ready(function () {
				var agent = navigator.userAgent.toLowerCase();

				var isPrivate = ((agent.indexOf('iphone') != -1) || (agent.indexOf('android') != -1));

				if (isPrivate) {
					$("#nameDiv").css('display','inline');
				} else {

				}

				$("#submit").click(function () {

					$.cookie("roomId", $("#roomId").val());
					if (isPrivate) {
						$.cookie("name", $("#nameInput").val());
						$.get("/room/"+$("#roomId").val(), {
							name: $("#nameInput").val()
						}, function (data) {
							console.log("data callback!")
							console.log(data);
							window.location = data.location;
						});
					} else {
						$.cookie("name", "board");
						$.get("/room/"+$("#roomId").val(), {
							name: 'board'
						}, function (data) {
							console.log("data callback!!!");
							console.log(data);
							window.location = data.location;
						});
					}
				})
			});
			
		</script>

	</head>
	<body>
		<div class="container">
			<div class="hero-unit">
				<h1>Ash Gourd</h1>
				<p>A tasty vegetable that makes a delicious drink!</p>
			</div>
			<div class="row">
				<div class="span6 offset4">
					<form action="javascript:void(0);">
						<div id="roomDiv"><strong>Room</strong>
							<br><input type="text" id="roomId"></input>
						</div>
						<div id="nameDiv"><strong>Name</strong>
							<br><input type="text" id="nameInput"></input>
						</div>
						<div>
							<button id="submit" class="btn btn-success">Submit</button>
						</div>
						<input id="dummySubmit" type="submit"></input>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>